<a href="https://colab.research.google.com/github/shashi92/Pandas-Data-Science-Tasks/blob/master/EDA%20of%20outlets%20in%20Bengaluru.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploratory Data analysis of Bangalore city outlets

# Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

# Loading data

In [ ]:
df=pd.read_csv('Bangalore Outlet Details.csv')
df.head()

,Shop_Name,Cuisine,Location,Rating,Cost_for_Two
0,Kanti Sweets,Sweets,"Koramangala, Koramangala",4.3,₹ 150
1,Mumbai Tiffin,"North Indian, Home Food, Thalis, Combo","Sector 5, HSR",4.4,₹ 400
2,Sri Krishna sagar,"South Indian, North Indian, Fast Food, Beverag...","6th Block, Koramangala",4.1,₹ 126
3,Al Daaz,"American, Arabian, Chinese, Desserts, Fast Foo...","HSR, HSR",4.4,₹ 400
4,Beijing Bites,"Chinese, Thai","5th Block, Koramangala",4.1,₹ 450

# Get to know about data

In [ ]:
df.shape

(118, 5)

In [ ]:
df.columns

Index(['Shop_Name', 'Cuisine', 'Location', 'Rating', 'Cost_for_Two'], dtype='object')

In [ ]:
df.dtypes

Shop_Name       object
Cuisine         object
Location        object
Rating          object
Cost_for_Two    object
dtype: object

# Cleaning
## Ratings and Cost for two- Convert to numeric type

In [ ]:
df.loc[df.Rating=='--','Rating']=np.nan

In [ ]:
df.Rating=df.Rating.astype(float)

In [ ]:
df.Cost_for_Two.str.strip('₹ ').astype(int)

0      150
1      400
2      126
3      400
4      450
      ...
113    219
114    600
115    193
116    200
117    400
Name: Cost_for_Two, Length: 118, dtype: int32

In [ ]:
df.Cost_for_Two=df.Cost_for_Two.apply(lambda x:re.search(r'\d+',x).group()).astype(int)

In [ ]:
df.dtypes

Shop_Name        object
Cuisine          object
Location         object
Rating          float64
Cost_for_Two      int32
dtype: object

# Exploratory Analysis
### Location wise
### Cuisine wise
### Cost wise
### Rating wise

# Location wise

In [ ]:
df.Location

0                Koramangala, Koramangala
1                           Sector 5, HSR
2                  6th Block, Koramangala
3                                HSR, HSR
4                  5th Block, Koramangala
                      ...
113                 JNC Road, Koramangala
114                         Madiwala, BTM
115    5th block Koramangala, Koramangala
116              Koramangala, Koramangala
117                1st Block, Koramangala
Name: Location, Length: 118, dtype: object

In [ ]:
df.Location.unique()

array(['Koramangala, Koramangala', 'Sector 5, HSR',
       '6th Block, Koramangala', 'HSR, HSR', '5th Block, Koramangala',
       'Koramangala 4th  Block, Koramangala', 'BTM 2nd Stage, BTM',
       'BTM, BTM', '9th Main road, Koramangala', 'outer ring road, BTM',
       '7th Block, Koramangala', '1st MAin, Koramangala',
       'Bommanahalli, BTM', '6th block, Koramangala', 'Sector 4, HSR',
       'BTM 1st stage, BTM', 'Jakkasandra Extn, Koramangala',
       'Marutinagar Main Road, BTM', '1st Block, Koramangala',
       '4th Cross, BTM', 'koramangala, Koramangala', 'BTM 2nd stage, BTM',
       '3rd main, BTM', 'HSR 1st sector, HSR', 'Sector 7, HSR',
       '3rd Sector, HSR', 'Chocolate Factory Road, BTM',
       '16th Main Road, 2nd Stage, BTM', '1st Stage, BTM',
       'Hosur Main Road, Koramangala',
       '1st Cross Road, 5th Block, Near Jyothi Nivas College, Koramangala',
       'Mico Layout, BTM', '4th Cross, Koramangala',
       '4th Block, Koramangala', 'Intermediate Ring Road, Koramangala',
       '3rd sector, HSR', '8TH BLOCK, Koramangala',
       '4th b cross, Koramangala', 'SG palaya, BTM',
       "Venkatapura Main Rd, Teacher's Colony, Jakkasandra, HSR",
       'KHB Colony, Koramangala', 'Sector 3, HSR',
       'Bannerghatta Road, Jayanagar',
       '80 Feet Peripheral Road, Koramangala', 'Btm, BTM',
       'Near Wipro Park Signal, Koramangala', '16th Main Road, BTM',
       '2nd Stage, BTM', 'Kuvempu Nagar, Stage 2, BTM',
       'Koramangala 1st block, Koramangala',
       '5th Block Kormangala, Koramangala', 'Koramangla, Koramangala',
       '5th block, Koramangala', '9th Main Rd, Sector 6, HSR Layout, HSR',
       'Jay Bheema Nagar, BTM', 'Koramangala 6th block, Koramangala',
       'Maruthi Nagar, BTM', 'Sector 6, HSR',
       'Jakkasandra Village, Koramangala', '4th block, Koramangala',
       'Madiwala Junction, BTM', 'kormangala, Koramangala',
       'JNC Road, Koramangala', 'Madiwala, BTM',
       '5th block Koramangala, Koramangala'], dtype=object)

In [ ]:
# Kormangala, HSR, BTM, Jayanagar

In [ ]:
hsr=df[df.Location.str.contains('HSR')]
hsr.reset_index(drop=True,inplace=True)
hsr

,Shop_Name,Cuisine,Location,Rating,Cost_for_Two
0,Mumbai Tiffin,"North Indian, Home Food, Thalis, Combo","Sector 5, HSR",4.4,400
1,Al Daaz,"American, Arabian, Chinese, Desserts, Fast Foo...","HSR, HSR",4.4,400
2,Hotel Manu,"South Indian, Kerala, Chinese, North Indian","HSR, HSR",4.1,350
3,Shree Khana Khazana,"Indian, Rajasthani","Sector 4, HSR",4.1,350
4,New Udupi Grand,"Chinese, Jain, North Indian, South Indian","HSR, HSR",4.3,150
5,Biriyani Zone,"North Indian, Chinese, Biryani","HSR 1st sector, HSR",4.1,600
6,Gongura's,"North Indian, Chinese, Biryani","Sector 7, HSR",3.8,300
7,Leon Grill,"Turkish, Portuguese, American","3rd Sector, HSR",4.3,300
8,Cakewala,Desserts,"HSR, HSR",4.3,450
9,Donne Biriyani House,South Indian,"3rd sector, HSR",4.0,300
10,Nanda's,"Andhra, Biryani","HSR, HSR",4.0,400
11,Cake Garden,"Desserts, Bakery","HSR, HSR",3.9,250
12,Nizams Biryani,"Biryani, Juices, Kebabs","Venkatapura Main Rd, Teacher's Colony, Jakkasa...",3.6,200
13,Punjabi Rasoi,North Indian,"Sector 3, HSR",4.0,800
14,Mandya Gowdru Donne Biryani,Biryani,"HSR, HSR",NaN,350
15,Dindigul Thalapakatti Biriyani,North Indian,"HSR, HSR",4.1,650
16,Easy Bites,"Snacks, American","9th Main Rd, Sector 6, HSR Layout, HSR",3.8,200
17,Junior Kuppanna,"Chettinad, South Indian","Sector 6, HSR",4.0,550

In [ ]:
btm=df[df.Location.str.contains('BTM')]
btm.reset_index(drop=True,inplace=True)
btm

,Shop_Name,Cuisine,Location,Rating,Cost_for_Two
0,99 VARIETY DOSA AND PAV BHAJI- Malli Mane Food...,"Fast Food, North Indian, Chinese","BTM 2nd Stage, BTM",4.1,200
1,La Pino'z Pizza,Italian,"BTM, BTM",3.9,500
2,Ambur Star Briyani,"Chinese, South Indian, North Indian, Desserts,...","outer ring road, BTM",4.1,500
3,Sri Lakshmi Dhaba,North Indian,"Bommanahalli, BTM",3.7,200
4,Just Bake - Cakes & confectioners,"Desserts, Bakery","BTM 1st stage, BTM",4.3,300
5,Hotel Godavari,"North Indian, Chinese, Hyderabadi","Marutinagar Main Road, BTM",4.0,400
6,Swad Punjab da,Indian,"BTM, BTM",4.1,250
7,High N Hungry,"Andhra, Biryani, Chinese, Desserts, Fast Food,...","4th Cross, BTM",4.1,350
8,Bengali Fun Foods,North Indian,"BTM 2nd stage, BTM",4.2,300
9,Oottupura,"Kerala, South Indian","BTM, BTM",4.3,268
10,Hyderabadi Biryani Hub,"North Indian, Chinese, Biryani","3rd main, BTM",3.9,450
11,Venu's Donne Biryani,Biryani,"Chocolate Factory Road, BTM",4.3,300
12,Swadista Aahar,"South Indian, Snacks, North Indian, Chinese","16th Main Road, 2nd Stage, BTM",4.1,250
13,Svadu Pure Ghee Sweets,"Desserts, Fast Food, Sweets, Chaat","1st Stage, BTM",4.1,200
14,Sai Abhiruchi,"Chinese, South Indian, Andhra, Hyderabadi","BTM, BTM",3.7,250
15,Balaji's Veg,"North Indian, Chinese, South Indian","Mico Layout, BTM",4.1,300
16,Donne Biryani Mandi,"Biryani, Andhra, South Indian","BTM, BTM",4.0,150
17,calicut cafe restaurant,"Fast Food, Beverages","BTM, BTM",4.1,280
18,World of asia,"Beverages, Chinese","BTM, BTM",4.0,250
19,Ghar Ka Khana,North Indian,"BTM, BTM",4.2,220
20,KANNUR FOOD POINT,"Kerala, Chinese","SG palaya, BTM",3.9,300
21,KANNOOR RESTAURANT,"North Indian, Chinese","BTM, BTM",4.0,250
22,Fattoush,"Arabian, Beverages, Biryani, Chinese, Desserts...","BTM, BTM",3.9,400
23,BIRIYANI TASTE MASTH(BTM),"North Indian, South Indian","Btm, BTM",4.2,300
24,Tandoori Merchant,"Andhra, Biryani, Chinese, Desserts, Fast Food,...","4th Cross, BTM",4.2,100
25,Chinese Bae,"Chinese, Thai","BTM, BTM",4.5,450
26,Abhiruchi Hotel,"Chinese, Hyderabadi, Biryani, Indian, South In...","BTM, BTM",4.0,250
27,Punjabi Swag,"Punjabi, North Indian, Chinese, Fast Food, Hea...","16th Main Road, BTM",3.7,400
28,Gyaani Da Punjabi Dhaba,North Indian,"2nd Stage, BTM",4.0,500
29,Biriyani Bhatti,"Biryani, Hyderabadi, Andhra, North Indian, Sou...","Kuvempu Nagar, Stage 2, BTM",4.1,350
30,BIRYANI CRAFTS,Indian,"BTM, BTM",4.1,500
31,R.B Food Point,"Chinese, North Indian","Jay Bheema Nagar, BTM",3.7,350
32,New Tasty Cafeteria,"Andhra, Chettinad, Chinese, Mughlai, North Indian","Maruthi Nagar, BTM",4.0,350
33,Biryani Pot,"North Indian, Biryani","Madiwala Junction, BTM",4.0,500
34,Savoury Restaurant,"Arabian, Middle Eastern, North Indian, Grill, ...","Madiwala, BTM",4.1,600

In [ ]:
kmg=df[df.Location.str.contains('Koramangala')]
kmg.reset_index(drop=True,inplace=True)
kmg

,Shop_Name,Cuisine,Location,Rating,Cost_for_Two
0,Kanti Sweets,Sweets,"Koramangala, Koramangala",4.3,150
1,Sri Krishna sagar,"South Indian, North Indian, Fast Food, Beverag...","6th Block, Koramangala",4.1,126
2,Beijing Bites,"Chinese, Thai","5th Block, Koramangala",4.1,450
3,Kitchens of Punjab,North Indian,"Koramangala 4th Block, Koramangala",4.2,350
4,Yumlane Pizza,"Pizzas, Italian, Mexican","9th Main road, Koramangala",3.8,150
...,...,...,...,...,...
59,Kritunga,"Andhra, Biryani","5th Block, Koramangala",3.9,500
60,Wok Paper Scissors,"Pan-Asian, Chinese, Asian","JNC Road, Koramangala",3.9,219
61,Royal Treat,"North Indian, Chinese, Seafood, Biryani","5th block Koramangala, Koramangala",4.2,193
62,Thali 99,North Indian,"Koramangala, Koramangala",4.3,200
63,Mani's Dum Biryani,"Andhra, Biryani","1st Block, Koramangala",4.2,400

In [ ]:
jnr=df[df.Location.str.contains('Jayanagar')]
jnr.reset_index(drop=True,inplace=True)
jnr

,Shop_Name,Cuisine,Location,Rating,Cost_for_Two
0,CRAVY WINGS - The American Diner,"American, Fast Food","Bannerghatta Road, Jayanagar",4.3,300

# HSR

## How many outlets are there?

In [ ]:
hsr.shape

(18, 5)

In [ ]:
hsr.Shop_Name.unique().size

18

In [ ]:
hsr.duplicated().sum()

0

## How many outlets with the rating more than 4?

In [ ]:
hsr[hsr.Rating>4].shape

(9, 5)

In [ ]:
# 9 outlets in hsr are having more than 9 ratings

## Get the name of the outlets with the rating more than 4

In [ ]:
hsr[hsr.Rating>4][['Shop_Name','Rating']]

                         Shop_Name  Rating
0                    Mumbai Tiffin     4.4
1                          Al Daaz     4.4
2                       Hotel Manu     4.1
3              Shree Khana Khazana     4.1
4                  New Udupi Grand     4.3
5                    Biriyani Zone     4.1
7                       Leon Grill     4.3
8                         Cakewala     4.3
15  Dindigul Thalapakatti Biriyani     4.1

## How many outlets offer North Indian Food?

In [ ]:
hsr.Cuisine.unique()

array(['North Indian, Home Food, Thalis, Combo',
       'American, Arabian, Chinese, Desserts, Fast Food, Mughlai, North Indian',
       'South Indian, Kerala, Chinese, North Indian',
       'Indian, Rajasthani', 'Chinese, Jain, North Indian, South Indian',
       'North Indian, Chinese, Biryani', 'Turkish, Portuguese, American',
       'Desserts', 'South Indian', 'Andhra, Biryani', 'Desserts, Bakery',
       'Biryani, Juices, Kebabs', 'North Indian', 'Biryani',
       'Snacks, American', 'Chettinad, South Indian'], dtype=object)

In [ ]:
hsr[hsr.Cuisine.str.contains('North Indian')].shape

(8, 5)

In [ ]:
# 8 outlets

## Name of the outlets that offer North Indian food?

In [ ]:
hsr[hsr.Cuisine.str.contains('North Indian')]['Shop_Name']

0                      Mumbai Tiffin
1                            Al Daaz
2                         Hotel Manu
4                    New Udupi Grand
5                      Biriyani Zone
6                          Gongura's
13                     Punjabi Rasoi
15    Dindigul Thalapakatti Biriyani
Name: Shop_Name, dtype: object

## Average cost for two people in HSR?

In [ ]:
hsr.Cost_for_Two.mean()

388.8888888888889

## Minimum cost for two in HSR

In [ ]:
hsr.Cost_for_Two.min()

150

## Maximum cost for two in HSR

In [ ]:
hsr.Cost_for_Two.max()

800

## Name the outlet that has the maximum cost

In [ ]:
hsr.iloc[np.where(hsr.Cost_for_Two==hsr.Cost_for_Two.max())]

        Shop_Name       Cuisine       Location  Rating  Cost_for_Two
13  Punjabi Rasoi  North Indian  Sector 3, HSR     4.0           800

In [ ]:
hsr.iloc[[13]]

        Shop_Name       Cuisine       Location  Rating  Cost_for_Two
13  Punjabi Rasoi  North Indian  Sector 3, HSR     4.0           800

In [ ]:
hsr[hsr.Cost_for_Two==hsr.Cost_for_Two.max()]['Shop_Name']

13    Punjabi Rasoi
Name: Shop_Name, dtype: object

## Name the outlet that has minimum cost

In [ ]:
hsr[hsr.Cost_for_Two==hsr.Cost_for_Two.min()]['Shop_Name']

4    New Udupi Grand
Name: Shop_Name, dtype: object

## Top 5 highly rated outlets

In [ ]:
hsr.sort_values(by='Rating',ascending=False).head().iloc[::,0]

0      Mumbai Tiffin
1            Al Daaz
4    New Udupi Grand
7         Leon Grill
8           Cakewala
Name: Shop_Name, dtype: object

## Top 5 most expensive outlets

In [ ]:
hsr.sort_values(by='Cost_for_Two',ascending=False).iloc[0:5,0]

13                     Punjabi Rasoi
15    Dindigul Thalapakatti Biriyani
5                      Biriyani Zone
17                   Junior Kuppanna
8                           Cakewala
Name: Shop_Name, dtype: object

## The cost efficient and highly rated outlets
### cost- 100 to 300
### Rating > 4

In [ ]:
hsr[(hsr.Cost_for_Two>=100)&(hsr.Cost_for_Two<=300)&(hsr.Rating>4)]

,Shop_Name,Cuisine,Location,Rating,Cost_for_Two
4,New Udupi Grand,"Chinese, Jain, North Indian, South Indian","HSR, HSR",4.3,150
7,Leon Grill,"Turkish, Portuguese, American","3rd Sector, HSR",4.3,300

# Expensive and low rating outlets
### Cost- > 400
### Rating < 4

In [ ]:
hsr[(hsr.Cost_for_Two>=300)&(hsr.Rating<4)]

,Shop_Name,Cuisine,Location,Rating,Cost_for_Two
6,Gongura's,"North Indian, Chinese, Biryani","Sector 7, HSR",3.8,300

# Outlets that offer Chinese and South Indian

In [ ]:
hsr[(hsr.Cuisine.str.contains(r'South Indian')&(hsr.Cuisine.str.contains(r'Chinese')))]

,Shop_Name,Cuisine,Location,Rating,Cost_for_Two
2,Hotel Manu,"South Indian, Kerala, Chinese, North Indian","HSR, HSR",4.1,350
4,New Udupi Grand,"Chinese, Jain, North Indian, South Indian","HSR, HSR",4.3,150

In [ ]:
def high_rating(x):
    return x[x['Rating']>4].sort_values(by='Rating',ascending=False)

In [ ]:
high_rating(hsr)

,Shop_Name,Cuisine,Location,Rating,Cost_for_Two
0,Mumbai Tiffin,"North Indian, Home Food, Thalis, Combo","Sector 5, HSR",4.4,400
1,Al Daaz,"American, Arabian, Chinese, Desserts, Fast Foo...","HSR, HSR",4.4,400
4,New Udupi Grand,"Chinese, Jain, North Indian, South Indian","HSR, HSR",4.3,150
7,Leon Grill,"Turkish, Portuguese, American","3rd Sector, HSR",4.3,300
8,Cakewala,Desserts,"HSR, HSR",4.3,450
2,Hotel Manu,"South Indian, Kerala, Chinese, North Indian","HSR, HSR",4.1,350
3,Shree Khana Khazana,"Indian, Rajasthani","Sector 4, HSR",4.1,350
5,Biriyani Zone,"North Indian, Chinese, Biryani","HSR 1st sector, HSR",4.1,600
15,Dindigul Thalapakatti Biriyani,North Indian,"HSR, HSR",4.1,650

In [ ]:
high_rating(btm)

,Shop_Name,Cuisine,Location,Rating,Cost_for_Two
25,Chinese Bae,"Chinese, Thai","BTM, BTM",4.5,450
4,Just Bake - Cakes & confectioners,"Desserts, Bakery","BTM 1st stage, BTM",4.3,300
9,Oottupura,"Kerala, South Indian","BTM, BTM",4.3,268
11,Venu's Donne Biryani,Biryani,"Chocolate Factory Road, BTM",4.3,300
19,Ghar Ka Khana,North Indian,"BTM, BTM",4.2,220
8,Bengali Fun Foods,North Indian,"BTM 2nd stage, BTM",4.2,300
24,Tandoori Merchant,"Andhra, Biryani, Chinese, Desserts, Fast Food,...","4th Cross, BTM",4.2,100
23,BIRIYANI TASTE MASTH(BTM),"North Indian, South Indian","Btm, BTM",4.2,300
0,99 VARIETY DOSA AND PAV BHAJI- Malli Mane Food...,"Fast Food, North Indian, Chinese","BTM 2nd Stage, BTM",4.1,200
30,BIRYANI CRAFTS,Indian,"BTM, BTM",4.1,500
29,Biriyani Bhatti,"Biryani, Hyderabadi, Andhra, North Indian, Sou...","Kuvempu Nagar, Stage 2, BTM",4.1,350
13,Svadu Pure Ghee Sweets,"Desserts, Fast Food, Sweets, Chaat","1st Stage, BTM",4.1,200
17,calicut cafe restaurant,"Fast Food, Beverages","BTM, BTM",4.1,280
15,Balaji's Veg,"North Indian, Chinese, South Indian","Mico Layout, BTM",4.1,300
2,Ambur Star Briyani,"Chinese, South Indian, North Indian, Desserts,...","outer ring road, BTM",4.1,500
12,Swadista Aahar,"South Indian, Snacks, North Indian, Chinese","16th Main Road, 2nd Stage, BTM",4.1,250
7,High N Hungry,"Andhra, Biryani, Chinese, Desserts, Fast Food,...","4th Cross, BTM",4.1,350
6,Swad Punjab da,Indian,"BTM, BTM",4.1,250
34,Savoury Restaurant,"Arabian, Middle Eastern, North Indian, Grill, ...","Madiwala, BTM",4.1,600

In [ ]:
high_rating(kmg)

,Shop_Name,Cuisine,Location,Rating,Cost_for_Two
39,Khichdi Experiment,"Home Food, Healthy Food, Indian","Koramangala, Koramangala",4.8,200
41,Natural Ice Cream,Ice Cream,"Near Wipro Park Signal, Koramangala",4.6,150
48,Corner House Ice Cream,"Ice Cream, Desserts","7th Block, Koramangala",4.6,250
58,Bowl 99,"North Indian, South Indian","kormangala, Koramangala",4.4,200
24,China Pearl,"Chinese, Asian","6th Block, Koramangala",4.4,527
0,Kanti Sweets,Sweets,"Koramangala, Koramangala",4.3,150
43,Khawa Karpo,Chinese,"Koramangala, Koramangala",4.3,178
38,Leon Grill,"Turkish, Portuguese, American, Grill","5th Block, Koramangala",4.3,300
31,Sagar fast food,"Chinese, South Indian, North Indian, Fast Food","8TH BLOCK, Koramangala",4.3,200
30,KFC,"American, Fast Food","Intermediate Ring Road, Koramangala",4.3,400
42,Truffles,American,"5th Block, Koramangala",4.3,450
21,Cream Stone,Desserts,"5th Block, Koramangala",4.3,250
45,Purani Dilli By Anand Sweets,"North Indian, Chaat, Snacks, Fast Food","5th Block, Koramangala",4.3,400
19,Taco Bell,Mexican,"6th Block, Koramangala",4.3,600
36,Nagarjuna,"Andhra, South Indian","KHB Colony, Koramangala",4.3,600
46,XO Belgian Waffle,Desserts,"Koramangala, Koramangala",4.3,250
56,The Bowl Company,"Continental, Indian, Pan-Asian, Oriental","Jakkasandra Village, Koramangala",4.3,350
7,Momoz,Chinese,"5th Block, Koramangala",4.3,450
6,Meghana Foods,"Chinese, Andhra, Biryani, Seafood","5th Block, Koramangala",4.3,550
62,Thali 99,North Indian,"Koramangala, Koramangala",4.3,200
33,Biryani Khazana,Biryani,"Koramangala, Koramangala",4.3,400
49,NIC Natural Ice Creams,"Ice Cream, Desserts","Koramangla, Koramangala",4.2,120
61,Royal Treat,"North Indian, Chinese, Seafood, Biryani","5th block Koramangala, Koramangala",4.2,193
63,Mani's Dum Biryani,"Andhra, Biryani","1st Block, Koramangala",4.2,400
3,Kitchens of Punjab,North Indian,"Koramangala 4th Block, Koramangala",4.2,350
8,A2B - Adyar Ananda Bhavan,"South Indian, Chinese, Desserts, North Indian","7th Block, Koramangala",4.2,450
11,Falahaar & Kota Kachori,North Indian,"6th block, Koramangala",4.2,300
1,Sri Krishna sagar,"South Indian, North Indian, Fast Food, Beverag...","6th Block, Koramangala",4.1,126
29,Sharmas punjabi restaurant,North Indian,"1st Block, Koramangala",4.1,200
2,Beijing Bites,"Chinese, Thai","5th Block, Koramangala",4.1,450
9,Shawarma Inc,"Arabian, Fast Food","1st MAin, Koramangala",4.1,150
52,Delhi Food Point,North Indian,"1st Block, Koramangala",4.1,132
10,WarmOven Cake & Desserts,"Desserts, Beverages","Koramangala, Koramangala",4.1,200
47,Madeena Hotel,"Desserts, Mughlai, Seafood","5th Block Kormangala, Koramangala",4.1,500
13,Rolls On Wheels,Fast Food,"1st Block, Koramangala",4.1,300
14,Rice Bowl,"North Indian, South Indian, Chinese","6th Block, Koramangala",4.1,250
44,99 VARIETY DOSA AND JUICE-Malli mane food court,"Fast Food, Juices, North Indian","Koramangala 1st block, Koramangala",4.1,100
20,Bathinda Junction,North Indian,"5th Block, Koramangala",4.1,250
27,Donne Biryani House,Biryani,"7th Block, Koramangala",4.1,130
28,Pipabu,"Pizzas, Chinese, Pastas, Salads, American, Con...","4th Block, Koramangala",4.1,257
40,Kitchens of China,Chinese,"Koramangala, Koramangala",4.1,350
32,Biryanis and more,"Biryani, South Indian, North Indian, Fast Food...","4th b cross, Koramangala",4.1,399

In [ ]:
kmg.Shop_Name=kmg.Shop_Name.str.title()

In [ ]:
kmg

,Shop_Name,Cuisine,Location,Rating,Cost_for_Two
0,Kanti Sweets,Sweets,"Koramangala, Koramangala",4.3,150
1,Sri Krishna Sagar,"South Indian, North Indian, Fast Food, Beverag...","6th Block, Koramangala",4.1,126
2,Beijing Bites,"Chinese, Thai","5th Block, Koramangala",4.1,450
3,Kitchens Of Punjab,North Indian,"Koramangala 4th Block, Koramangala",4.2,350
4,Yumlane Pizza,"Pizzas, Italian, Mexican","9th Main road, Koramangala",3.8,150
...,...,...,...,...,...
59,Kritunga,"Andhra, Biryani","5th Block, Koramangala",3.9,500
60,Wok Paper Scissors,"Pan-Asian, Chinese, Asian","JNC Road, Koramangala",3.9,219
61,Royal Treat,"North Indian, Chinese, Seafood, Biryani","5th block Koramangala, Koramangala",4.2,193
62,Thali 99,North Indian,"Koramangala, Koramangala",4.3,200
63,Mani'S Dum Biryani,"Andhra, Biryani","1st Block, Koramangala",4.2,400

In [ ]:
high_rating(kmg)

,Shop_Name,Cuisine,Location,Rating,Cost_for_Two
39,Khichdi Experiment,"Home Food, Healthy Food, Indian","Koramangala, Koramangala",4.8,200
41,Natural Ice Cream,Ice Cream,"Near Wipro Park Signal, Koramangala",4.6,150
48,Corner House Ice Cream,"Ice Cream, Desserts","7th Block, Koramangala",4.6,250
58,Bowl 99,"North Indian, South Indian","kormangala, Koramangala",4.4,200
24,China Pearl,"Chinese, Asian","6th Block, Koramangala",4.4,527
0,Kanti Sweets,Sweets,"Koramangala, Koramangala",4.3,150
43,Khawa Karpo,Chinese,"Koramangala, Koramangala",4.3,178
38,Leon Grill,"Turkish, Portuguese, American, Grill","5th Block, Koramangala",4.3,300
31,Sagar Fast Food,"Chinese, South Indian, North Indian, Fast Food","8TH BLOCK, Koramangala",4.3,200
30,Kfc,"American, Fast Food","Intermediate Ring Road, Koramangala",4.3,400
42,Truffles,American,"5th Block, Koramangala",4.3,450
21,Cream Stone,Desserts,"5th Block, Koramangala",4.3,250
45,Purani Dilli By Anand Sweets,"North Indian, Chaat, Snacks, Fast Food","5th Block, Koramangala",4.3,400
19,Taco Bell,Mexican,"6th Block, Koramangala",4.3,600
36,Nagarjuna,"Andhra, South Indian","KHB Colony, Koramangala",4.3,600
46,Xo Belgian Waffle,Desserts,"Koramangala, Koramangala",4.3,250
56,The Bowl Company,"Continental, Indian, Pan-Asian, Oriental","Jakkasandra Village, Koramangala",4.3,350
7,Momoz,Chinese,"5th Block, Koramangala",4.3,450
6,Meghana Foods,"Chinese, Andhra, Biryani, Seafood","5th Block, Koramangala",4.3,550
62,Thali 99,North Indian,"Koramangala, Koramangala",4.3,200
33,Biryani Khazana,Biryani,"Koramangala, Koramangala",4.3,400
49,Nic Natural Ice Creams,"Ice Cream, Desserts","Koramangla, Koramangala",4.2,120
61,Royal Treat,"North Indian, Chinese, Seafood, Biryani","5th block Koramangala, Koramangala",4.2,193
63,Mani'S Dum Biryani,"Andhra, Biryani","1st Block, Koramangala",4.2,400
3,Kitchens Of Punjab,North Indian,"Koramangala 4th Block, Koramangala",4.2,350
8,A2B - Adyar Ananda Bhavan,"South Indian, Chinese, Desserts, North Indian","7th Block, Koramangala",4.2,450
11,Falahaar & Kota Kachori,North Indian,"6th block, Koramangala",4.2,300
1,Sri Krishna Sagar,"South Indian, North Indian, Fast Food, Beverag...","6th Block, Koramangala",4.1,126
29,Sharmas Punjabi Restaurant,North Indian,"1st Block, Koramangala",4.1,200
2,Beijing Bites,"Chinese, Thai","5th Block, Koramangala",4.1,450
9,Shawarma Inc,"Arabian, Fast Food","1st MAin, Koramangala",4.1,150
52,Delhi Food Point,North Indian,"1st Block, Koramangala",4.1,132
10,Warmoven Cake & Desserts,"Desserts, Beverages","Koramangala, Koramangala",4.1,200
47,Madeena Hotel,"Desserts, Mughlai, Seafood","5th Block Kormangala, Koramangala",4.1,500
13,Rolls On Wheels,Fast Food,"1st Block, Koramangala",4.1,300
14,Rice Bowl,"North Indian, South Indian, Chinese","6th Block, Koramangala",4.1,250
44,99 Variety Dosa And Juice-Malli Mane Food Court,"Fast Food, Juices, North Indian","Koramangala 1st block, Koramangala",4.1,100
20,Bathinda Junction,North Indian,"5th Block, Koramangala",4.1,250
27,Donne Biryani House,Biryani,"7th Block, Koramangala",4.1,130
28,Pipabu,"Pizzas, Chinese, Pastas, Salads, American, Con...","4th Block, Koramangala",4.1,257
40,Kitchens Of China,Chinese,"Koramangala, Koramangala",4.1,350
32,Biryanis And More,"Biryani, South Indian, North Indian, Fast Food...","4th b cross, Koramangala",4.1,399